/*--------------------------------------------------------------
# item
--------------------------------------------------------------*/
.item #item-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    background: white;
    border-radius: 50px;
    padding: 2px 15px;
  }
  .item #item-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px 10px 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: #444444;
    margin: 0 4px 8px 4px;
    transition: 0.3s;
    border-radius: 50px;
    border: 1px solid #fff;
  }
  .item #item-flters li:hover, .item #item-flters li.filter-active {
    color: #4154f1;
    border-color: #4154f1;
  }
  .item #item-flters li:last-child {
    margin-right: 0;
  }
  .item .item-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(255, 255, 255, 0.75);
  }
  .item .item-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }
  .item .item-wrap img {
    transition: 1s;
  }
  .item .item-wrap .item-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item .item-wrap .item-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid rgba(1, 41, 112, 0.2);
    border-left: 3px solid rgba(1, 41, 112, 0.2);
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }
  .item .item-wrap .item-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid rgba(1, 41, 112, 0.2);
    border-right: 3px solid rgba(1, 41, 112, 0.2);
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }
  .item .item-wrap .item-info h4 {
    font-size: 20px;
    color: #012970;
    font-weight: 700;
  }
  .item .item-wrap .item-info p {
    color: #012970;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }
  .item .item-wrap .item-links {
    text-align: center;
    z-index: 4;
  }
  .item .item-wrap .item-links a {
    color: #fff;
    background: #4154f1;
    margin: 10px 2px;
    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
  }
  .item .item-wrap .item-links a i {
    font-size: 24px;
    line-height: 0;
  }
  .item .item-wrap .item-links a:hover {
    background: #5969f3;
  }
  .item .item-wrap:hover img {
    transform: scale(1.1);
  }
  .item .item-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }
  .item .item-wrap:hover .item-info {
    opacity: 1;
  }
  .item .item-wrap:hover .item-info::before {
    top: 15px;
    left: 15px;
  }
  .item .item-wrap:hover .item-info::after {
    bottom: 15px;
    right: 15px;
  }
  
  /*--------------------------------------------------------------
  # item Details
  --------------------------------------------------------------*/
  .item-details {
    padding-top: 40px;
  }
  .item-details .item-details-slider img {
    width: 100%;
  }
  .item-details .item-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  .item-details .item-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #4154f1;
  }
  .item-details .item-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #4154f1;
  }
  .item-details .item-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  }
  .item-details .item-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  .item-details .item-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  .item-details .item-info ul li + li {
    margin-top: 10px;
  }
  .item-details .item-description {
    padding-top: 30px;
  }
  .item-details .item-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .item-details .item-description p {
    padding: 0;
  }
  